.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.952148;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.070000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.991000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-3.365262px;}
._5{margin-left:-2.308421px;}
._0{margin-left:-1.291579px;}
._2{width:1.163866px;}
._3{width:27.000000px;}
._1{width:41.297299px;}
.fc1{color:rgb(40,40,40);}
.fc0{color:rgb(60,120,216);}
.fs3{font-size:40.000000px;}
.fs2{font-size:41.073824px;}
.fs1{font-size:48.000000px;}
.fs4{font-size:73.932884px;}
.fs0{font-size:94.469800px;}
.y35{bottom:38.160000px;}
.y61{bottom:95.616417px;}
.y34{bottom:104.314510px;}
.y33{bottom:104.384510px;}
.y60{bottom:107.674403px;}
.y32{bottom:116.314510px;}
.y31{bottom:116.384510px;}
.y5f{bottom:126.938561px;}
.y30{bottom:128.384510px;}
.y5e{bottom:138.996547px;}
.y2f{bottom:140.314510px;}
.y2e{bottom:140.384510px;}
.y2d{bottom:160.442497px;}
.y5d{bottom:169.005562px;}
.y2c{bottom:172.764644px;}
.y2b{bottom:201.028797px;}
.y2a{bottom:212.958797px;}
.y29{bottom:213.028797px;}
.y28{bottom:225.028797px;}
.y5c{bottom:232.260705px;}
.y27{bottom:236.958797px;}
.y26{bottom:237.028797px;}
.y25{bottom:249.028797px;}
.y5b{bottom:252.318691px;}
.y24{bottom:269.086784px;}
.y5a{bottom:280.582848px;}
.y23{bottom:281.408931px;}
.y59{bottom:300.640834px;}
.y22{bottom:309.673084px;}
.y21{bottom:321.603084px;}
.y20{bottom:321.673084px;}
.y58{bottom:328.904992px;}
.y1f{bottom:333.603084px;}
.y1e{bottom:333.673084px;}
.y1d{bottom:345.673084px;}
.y57{bottom:348.962978px;}
.y1c{bottom:357.603084px;}
.y1b{bottom:357.673084px;}
.y1a{bottom:377.731071px;}
.y56{bottom:378.971993px;}
.y19{bottom:390.053218px;}
.y18{bottom:418.317371px;}
.y17{bottom:430.247371px;}
.y16{bottom:430.317371px;}
.y55{bottom:436.227124px;}
.y15{bottom:442.317371px;}
.y54{bottom:448.157124px;}
.y53{bottom:448.227124px;}
.y14{bottom:454.247371px;}
.y13{bottom:454.317371px;}
.y52{bottom:460.157124px;}
.y51{bottom:460.227124px;}
.y12{bottom:466.317371px;}
.y50{bottom:472.227122px;}
.y11{bottom:478.317371px;}
.y4f{bottom:484.157122px;}
.y4e{bottom:484.227122px;}
.y10{bottom:490.247371px;}
.yf{bottom:490.317371px;}
.y4d{bottom:496.157120px;}
.ye{bottom:502.247371px;}
.y4c{bottom:508.157120px;}
.y4b{bottom:508.227120px;}
.yd{bottom:514.247371px;}
.yc{bottom:514.317371px;}
.y4a{bottom:528.285103px;}
.yb{bottom:534.375358px;}
.y49{bottom:540.607250px;}
.ya{bottom:546.697505px;}
.y48{bottom:568.871410px;}
.y9{bottom:576.706520px;}
.y47{bottom:580.801410px;}
.y46{bottom:580.871410px;}
.y45{bottom:592.801410px;}
.y44{bottom:592.871410px;}
.y43{bottom:612.929397px;}
.y8{bottom:623.961674px;}
.y42{bottom:625.251544px;}
.y7{bottom:635.891674px;}
.y6{bottom:647.891674px;}
.y41{bottom:653.445705px;}
.y40{bottom:653.515705px;}
.y5{bottom:659.891674px;}
.y3f{bottom:665.515705px;}
.y3e{bottom:677.445705px;}
.y3d{bottom:677.515705px;}
.y3c{bottom:689.445705px;}
.y3b{bottom:689.515705px;}
.y4{bottom:696.019661px;}
.y2{bottom:696.393675px;}
.y0{bottom:698.500000px;}
.y3a{bottom:701.445705px;}
.y3{bottom:708.341808px;}
.y39{bottom:713.445705px;}
.y38{bottom:713.515705px;}
.y1{bottom:717.878425px;}
.y37{bottom:733.573692px;}
.y36{bottom:745.895839px;}
.h1{height:15.000000px;}
.h5{height:32.080000px;}
.h4{height:32.941207px;}
.h3{height:38.496000px;}
.h6{height:54.727662px;}
.h2{height:69.929793px;}
.h0{height:792.000000px;}
.w1{width:19.500000px;}
.w0{width:612.000000px;}
.x1{left:36.000000px;}
.x5{left:48.000000px;}
.x6{left:58.000000px;}
.x3{left:344.759003px;}
.x2{left:366.589722px;}
.xc{left:416.181763px;}
.x8{left:417.290741px;}
.x7{left:419.981079px;}
.xb{left:421.090088px;}
.xd{left:432.642090px;}
.x9{left:445.785706px;}
.x4{left:456.834564px;}
.x0{left:494.000000px;}
.xa{left:534.830017px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-4.487016pt;}
._5{margin-left:-3.077894pt;}
._0{margin-left:-1.722106pt;}
._2{width:1.551821pt;}
._3{width:36.000000pt;}
._1{width:55.063066pt;}
.fs3{font-size:53.333333pt;}
.fs2{font-size:54.765099pt;}
.fs1{font-size:64.000000pt;}
.fs4{font-size:98.577179pt;}
.fs0{font-size:125.959733pt;}
.y35{bottom:50.880000pt;}
.y61{bottom:127.488556pt;}
.y34{bottom:139.086013pt;}
.y33{bottom:139.179347pt;}
.y60{bottom:143.565871pt;}
.y32{bottom:155.086013pt;}
.y31{bottom:155.179347pt;}
.y5f{bottom:169.251415pt;}
.y30{bottom:171.179347pt;}
.y5e{bottom:185.328729pt;}
.y2f{bottom:187.086013pt;}
.y2e{bottom:187.179347pt;}
.y2d{bottom:213.923329pt;}
.y5d{bottom:225.340749pt;}
.y2c{bottom:230.352859pt;}
.y2b{bottom:268.038396pt;}
.y2a{bottom:283.945063pt;}
.y29{bottom:284.038396pt;}
.y28{bottom:300.038396pt;}
.y5c{bottom:309.680940pt;}
.y27{bottom:315.945063pt;}
.y26{bottom:316.038396pt;}
.y25{bottom:332.038396pt;}
.y5b{bottom:336.424921pt;}
.y24{bottom:358.782379pt;}
.y5a{bottom:374.110464pt;}
.y23{bottom:375.211908pt;}
.y59{bottom:400.854445pt;}
.y22{bottom:412.897445pt;}
.y21{bottom:428.804112pt;}
.y20{bottom:428.897445pt;}
.y58{bottom:438.539989pt;}
.y1f{bottom:444.804112pt;}
.y1e{bottom:444.897445pt;}
.y1d{bottom:460.897445pt;}
.y57{bottom:465.283971pt;}
.y1c{bottom:476.804112pt;}
.y1b{bottom:476.897445pt;}
.y1a{bottom:503.641428pt;}
.y56{bottom:505.295991pt;}
.y19{bottom:520.070957pt;}
.y18{bottom:557.756495pt;}
.y17{bottom:573.663161pt;}
.y16{bottom:573.756495pt;}
.y55{bottom:581.636165pt;}
.y15{bottom:589.756495pt;}
.y54{bottom:597.542832pt;}
.y53{bottom:597.636165pt;}
.y14{bottom:605.663161pt;}
.y13{bottom:605.756495pt;}
.y52{bottom:613.542832pt;}
.y51{bottom:613.636165pt;}
.y12{bottom:621.756495pt;}
.y50{bottom:629.636163pt;}
.y11{bottom:637.756495pt;}
.y4f{bottom:645.542829pt;}
.y4e{bottom:645.636163pt;}
.y10{bottom:653.663161pt;}
.yf{bottom:653.756495pt;}
.y4d{bottom:661.542827pt;}
.ye{bottom:669.663161pt;}
.y4c{bottom:677.542827pt;}
.y4b{bottom:677.636160pt;}
.yd{bottom:685.663161pt;}
.yc{bottom:685.756495pt;}
.y4a{bottom:704.380137pt;}
.yb{bottom:712.500477pt;}
.y49{bottom:720.809667pt;}
.ya{bottom:728.930007pt;}
.y48{bottom:758.495213pt;}
.y9{bottom:768.942027pt;}
.y47{bottom:774.401880pt;}
.y46{bottom:774.495213pt;}
.y45{bottom:790.401880pt;}
.y44{bottom:790.495213pt;}
.y43{bottom:817.239196pt;}
.y8{bottom:831.948899pt;}
.y42{bottom:833.668725pt;}
.y7{bottom:847.855565pt;}
.y6{bottom:863.855565pt;}
.y41{bottom:871.260940pt;}
.y40{bottom:871.354273pt;}
.y5{bottom:879.855565pt;}
.y3f{bottom:887.354273pt;}
.y3e{bottom:903.260940pt;}
.y3d{bottom:903.354273pt;}
.y3c{bottom:919.260940pt;}
.y3b{bottom:919.354273pt;}
.y4{bottom:928.026215pt;}
.y2{bottom:928.524900pt;}
.y0{bottom:931.333333pt;}
.y3a{bottom:935.260940pt;}
.y3{bottom:944.455744pt;}
.y39{bottom:951.260940pt;}
.y38{bottom:951.354273pt;}
.y1{bottom:957.171233pt;}
.y37{bottom:978.098256pt;}
.y36{bottom:994.527785pt;}
.h1{height:20.000000pt;}
.h5{height:42.773333pt;}
.h4{height:43.921609pt;}
.h3{height:51.328000pt;}
.h6{height:72.970216pt;}
.h2{height:93.239724pt;}
.h0{height:1056.000000pt;}
.w1{width:26.000000pt;}
.w0{width:816.000000pt;}
.x1{left:48.000000pt;}
.x5{left:64.000000pt;}
.x6{left:77.333333pt;}
.x3{left:459.678671pt;}
.x2{left:488.786296pt;}
.xc{left:554.909017pt;}
.x8{left:556.387655pt;}
.x7{left:559.974772pt;}
.xb{left:561.453451pt;}
.xd{left:576.856120pt;}
.x9{left:594.380941pt;}
.x4{left:609.112752pt;}
.x0{left:658.666667pt;}
.xa{left:713.106689pt;}
}
